<div class="container">
  <div class="row">
    <form action="/" method="POST">
      <div>
        <label>Name</label>
        <input type="text" name="name" placeholder="Enter a name">
      </div>

      <div>
        <label>Protein</label>
        <textarea name="protein"></textarea>
      </div>

       <div>
        <label>Chromosome</label>
       <input type="text" name="chromosome" placeholder="Chromosome number">
      </div>

       <div>
        <label>Location</label>
        <input type="text" name="location" placeholder="Enter a location">
      </div>

       <div>
        <label>Species</label>
        <input type="text" name="species" placeholder="Species name">
      </div>

      <div>
        <input type="submit" value="Save Gene">
      </div>
    </form>
  </div>
</div>