body {
	background-image: url('../images/gene-background.png');
	font-family: sans-serif;
	color:white;

}
.gene_list {
	color: white;
}
#gene_view {
	background-image: url('../images/gene_show.jpeg');
	font-size: 20px;
}